name: Deploy Web App ke AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:

  #Build dan Push Docker Image

  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./app  
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/projek-cloud-app:latest


  # Deploy ke Server EC2

  deploy-to-ec2:
    runs-on: ubuntu-latest
    needs: build-and-push
    
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_SSH_KEY }}
          
          script: |
            # Login ke Docker Hub DI DALAM SERVER EC2
            echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            
            # PERBAIKAN 2: Gunakan nama container 'my-web-app', bukan 'index.html'
            docker stop my-web-app || true
            docker rm my-web-app || true
            
            # Tarik image versi terbaru
            docker pull ${{ secrets.DOCKER_USERNAME }}/projek-cloud-app:latest
            
            # PERBAIKAN 3: Gunakan sintaks 'docker run' yang benar
            docker run -d --name my-web-app -p 80:80 --restart always \
              ${{ secrets.DOCKER_USERNAME }}/projek-cloud-app:latest
